html {
  background-color: #ccc;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 960px;
  width: 90%;
  background-color: #fff;
  margin: auto;
  padding: 1%;
}

h1.page-header {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #63aaf5;
  text-align: center;
  text-shadow: 4px 4px 4px rgb(181, 221, 253);
}


nav {
  text-align: center;
  /* centers the nav */
}

nav a {
  color: #000;
  /* font color is black */
}

nav ul {
  list-style: none;
  /* removes the bullets */
}

nav li {
  display: inline-block;
  /* makes <li> horizontal, but able to declare margins */
  margin: 0 2%;
  /* margin left-right, gets smaller as necessary */
}

nav a:hover {
  text-decoration: none;
  /* default underline goes away on hover */
}

table.my-table {
  border-collapse: collapse;
}

table.my-table th {
  background-color: #54585d;
  color: #ffffff;
  font-weight: bold;
  font-size: 13px;
  border: 1px solid #54585d;
}

table.my-table td {
  padding: 15px;
}

table.my-table td {
  color: #636363;
  border: 1px solid #383c3f;
}

table.my-table tr {
  background-color: #63aaf5;
}

table.my-table tr:nth-child(odd) {
  background-color: #ffffff;
}

footer {
  clear: both;
  text-align: center;
  margin-top: 2%;
}